/* Fonts */

@font-face {
    font-family: 'Moon Flower';
    src: url(MoonFlower.tff);
}

@font-face {
    font-family: 'Avenir Heavy';
    src: url(Avenir-Heavy-05.ttf);
}

@font-face {
    font-family: 'Avenir Light';
    src: url(Avenir-Light-07.ttf);
}


.BodyText {
    font-family: 'Avenir Light';
    font-size: 14px;
    letter-spacing: 0.1em;
}

.HeaderText {
    font-family: 'Moon Flower';
    font-size: 36px;
}

.SubheaderText {
    font-family: 'Avenir Heavy';
    font-size: 14px;
    letter-spacing: 0.1em; 
}


/* Container Margin */
.container-fluid {
    margin-top: 70px;
    margin-bottom: 100px;
}


/* Break line style */
hr.BreakLine {
    border: 1px dashed black;
}

/* Nav Bar */
#navBar {
    font-family: 'Avenir Light';
    font-size: 14px;
    letter-spacing: 0.1em;
}


/* How It's Made Text Placement */
#howItsMadeText {
    position: absolute;
    z-index: 1;
    top: 3800px;

}

/* Waves */
#wavesBreak {
    margin-top: 200px;
    margin-bottom: 200px;
}

/* Wildlife */
#groupText {
    display: none;
}

#fishInside {
    display: none;
}

/* So what can I do body */
#dressRack {
    margin-bottom: 50px;
}


/*Take me Back Button */
#upButtonPlacement {
    position: absolute;
    z-index: 2;
    top: 8600px;
}
#upButton {
    font-family: 'Avenir';
    font-size: 14px;
    letter-spacing: 0.1em;
    height: 74px;
    width: 240px;
    background-color: #AFDCD1;
}
