/* Fonts */

@font-face {
    font-family: 'Moon Flower';
    src: url(Fonts/MoonFlower/MoonFlower.ttf);
}

@font-face {
    font-family: 'Avenir Heavy';
    src: url(Fonts/Avenir/Avenir-Heavy-05.ttf);
}

@font-face {
    font-family: 'Avenir Light';
    src: url(Fonts/Avenir/Avenir-Light-07.ttf);
}


.BodyText {
    font-family: 'Avenir Light';
    font-size: 14px;
    letter-spacing: 0.1em;
}

.HeaderText {
    font-family: 'Moon Flower';
    font-size: 36px;
}

.SubheaderText {
    font-family: 'Avenir Heavy';
    font-size: 14px;
    letter-spacing: 0.1em; 
}

/* Container Margin */
.container-fluid {
    margin-top: 70px;
    margin-bottom: 100px;
}

/* Break line style */
hr.BreakLine {
    border: 1px dashed black;
}

/* Nav Bar */
#navBar {
    font-family: 'Avenir Light';
    font-size: 14px;
    letter-spacing: 0.1em;
}

.NavBarText {
    padding: 10px 0 10px 0;
}

/* Tshirt */
#tShirt {
    margin-bottom: 50px;
}

/* Washing Machine */
#washingMachine {
    margin-bottom: 50px;
}


/* How its made container */
#howItsMadeContainer {
    margin: 0;
}
#cloudsToMoveContainer {
    margin-top: 0;
    margin-bottom: 0;
}

/* Factory Image */
#factoryImage {
    margin-bottom: 50px;
}

/* Waves */
#wavesBreak {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Wildlife */
#groupText {
    display: none;
}

#fishInside {
    display: none;
}

/* Earth */
#earthText1 {
    display: none;
}

#earthText2 {
    display: none;
}

#earthText3 {
    display: none;
}

#earthText4 {
    display: none;
}

/* Earth Button */
#viewAllStats {
    font-family:'Avenir';
    font-size: 14px;
    letter-spacing: 0.1em;
    height: 50px;
    width: 200px;
    border: 3px solid #759370;
    background-color: white;
    
}

/* So what can I do body */
#rackSolution {
    margin-bottom: 50px;
}

/*Take me Back Button */
#upButton {
    font-family: 'Avenir';
    font-size: 14px;
    letter-spacing: 0.1em;
    height: 50px;
    width: 200px;
    background-color: #afdcd1;
}
